/* Selector de etiqueta*/

h2 {
    font-size: 1rem;
    color: aqua;
}

/* Selector de clase*/

.estandar {
    font-size: 16px;
}

/* Selector de id : NO SE USA*/

#id {
    font-size: 1rem;
}

/*Selectror de atributo*/

[name='foo'] {
}

/* Multiples selectores*/

ul,
ol {
    list-style: lower-alpha;
}

section p {
}

section > p {
}

/* Hermanos siguientes */
div ~ p {
    color: brown;
}

/* Hermano adyacente */
div + p {
    font-style: italic;
}

/* Pseudo clases / elementos */

h1::first-letter,
h2::first-letter {
    font-size: 4rem;
}

h1::after,
h1::before {
    content: '👑';
}

p:hover {
}
p:nth-of-type(2n) {
}
