:root {
    --color-primary: brown;
    --color-secondary: #ffe3c2;
    --font-primary: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font-primary);
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: bisque;
    max-width: 1000px;
}

header,
footer {
    flex: 1 0 12vh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 0 2rem;
}

.menu {
    display: none;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

main {
    flex: 30 0 12vh;
    /* display: flex;
    gap: 1rem; */
}

section,
aside {
    border: 1px gainsboro solid;
    margin: 1rem;
    padding: 1rem;
}

aside:target {
    background-color: beige;
}

@media screen and (min-width: 500px) {
    .menu-icon {
        display: none;
    }

    .menu {
        display: initial;
    }
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
        gap: 1rem;
    }
    section {
        flex: 2 0 auto;
        margin-right: 0;
        max-width: 70%;
    }

    aside {
        flex: 1 0 auto;
        margin-left: 0;
        max-width: 20%;
    }
}
